*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    list-style: none;
    font-weight:500;
}

header.Container{
    background: #fff;
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.Logo span{
    color: #378f14;
}

.navbar ul{
    display: flex;
    gap: 15px;

}

.navbar ul li span{
    color: #378f14;
    
}

.navbar a:hover{
    color: #378f14;
}

.Cart{
    color: #fff;
}